/*
###Primary

Bright Red: hsl(12, 88%, 59%)
Dark Blue: hsl(228, 39%, 23%)

### Neutral

Dark Grayish Blue: hsl(227, 12%, 61%)
Very Dark Blue: hsl(233, 12%, 13%)
Very Pale Red: hsl(13, 100%, 96%)
Vary Light Gray: hsl(0, 0%, 98%)

### Body Copy

- Font size: 16px

### Font

- Family: [Be Vietnam](https://fonts.google.com/specimen/Be+Vietnam)
- Weights: 400, 500, 700
*/
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@300&display=swap");
/*Primary*/
$bright-red: hsl(12, 88%, 59%);
$dark-blue: hsl(228, 39%, 23%);

/*Neutral*/
$dark-grayish-blue-one: hsl(227, 12%, 61%);
$dark-grayish-blue: hsl(240, 12%, 95%);
$very-dark-blue: hsl(233, 12%, 13%);
$very-pale-red: hsl(13, 100%, 96%);
$vary-light-gray: hsl(0, 0%, 98%);

/*Font size*/
$font-weight-first: 400;
$font-weight-second: 500;
$font-weight-last: 700;
$font-size: 15px;
/*margin*/

body {
  font-size: $font-size;
  margin: 0;
  font-weight: bold;
  background: $vary-light-gray;
  box-sizing: border-box;
  font-family: "Be Vietnam", sans-serif;
  background-image: url(../img/bg-tablet-pattern.svg);
  scroll-behavior: smooth;
  background-repeat: no-repeat;
}
/*------------------------------------------<Common Classes>-----------------------------------------------------*/

.btn--color {
  margin: 0 15px;
  padding: 15px 40px;
  font-weight: bold;
  background-color: $bright-red;
  border-radius: 5.5em;
  color: $very-pale-red !important;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  font-size: $font-size;
  &:hover {
    opacity: 0.9;
  }
}
/*---------------------------------------------------</Common Classes>-----------------------------------------------------*/

/*----------------------------------------------------<Navbar>--------------------------------------------------------------*/
.navbar {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  &__list {
    padding: 10px;
    list-style: none;
    display: flex;

    &__item {
      margin-right: 30px;
      font-weight: $font-weight-last;
      font-size: $font-size + 2;

      &__link {
        text-decoration: none;
        color: $dark-blue;
        &:hover {
          color: $dark-grayish-blue;
          text-decoration: none !important;
        }
      }
    }
  }
}
/*---------------------------------------------------</Navbar>---------------------------------------------------------------*/

/*---------------------------------------------------<İnfo>-----------------------------------------------------------------*/
.info {
  margin-top: 90px;
  display: flex;
  justify-content: center;

  &__image {
    width: 100%;
    margin-top: 10px;
    margin: 0;
    padding: 0;
    order: 1;
    &--size {
      width: 100%;
      height: 440px;
      object-fit: contain;
    }
  }

  &__text {
    padding: 0 50px;
    &__title {
      padding: 20px 0;
      font-weight: $font-weight-last;
      line-height: 1.5;
      font-size: $font-size + 30 !important;
      color: $dark-blue;
    }

    &__description {
      color: $dark-grayish-blue-one;
      line-height: 1.7;
      padding: 0 0 20px 0;
    }
  }
}

/*---------------------------------------------------</İnfo>-----------------------------------------------------------------*/

/*---------------------------------------------------<About>----------------------------------------------------------------*/
.about {
  margin-top: 80px;
  &__info {
    &__title {
      font-weight: $font-weight-last;
      line-height: 1.5;
      font-size: $font-size + 21 !important;
      color: $dark-blue;
    }
    &__description {
      color: $dark-grayish-blue-one;
      line-height: 1.7;
      padding: 0 0 20px 0;
    }
  }
  .about__option {
    &__title {
      &__number {
        font-weight: bold;
        background-color: $bright-red;
        border-radius: 5.5em;
        color: $very-pale-red !important;
        text-decoration: none;
        cursor: pointer;
        font-weight: bold;
        font-size: $font-size;
        padding: 7px 30px;
        margin-right: 10px;
      }
      &__text {
        font-weight: $font-weight-last;
        line-height: 1.5;
        font-size: $font-size + 5 !important;
        color: $dark-blue;
        text-align: center;
      }
    }
    &__description {
      color: $dark-grayish-blue-one;
      line-height: 1.7;
      padding: 0 100px;
    }
  }
}
/*---------------------------------------------------</About>----------------------------------------------------------------*/

/*---------------------------------------------------<Testimonials>----------------------------------------------------------*/
.testimonials {
  overflow: hidden;
  &__title {
    font-weight: $font-weight-last;
    line-height: 1.5;
    font-size: $font-size + 30 !important;
    color: $dark-blue;
    margin: 150px 0px 70px 0px;
    text-align: center;
  }
  &__dots {
    display: none;
  }
  &__block {
    display: flex;
    flex-wrap: nowrap;
    width: 145%;
    animation: lefttoright 50s linear infinite;
    .testimonial {
      padding: 0 20px;
      margin: 50px 10px 20px 0;
      background: $dark-grayish-blue;
      position: relative;
      width: 500px;
      &__avatar-block {
        width: 75px;
        height: 75px;
        position: absolute;
        top: -20%;
        left: 50%;
        transform: translate(-50%, 20%);
      }
      &__avatar {
        width: 100%;
      }
      &__author {
        font-weight: $font-weight-last;
        font-size: $font-size + 6;
        color: $dark-blue;
        margin-top: 60px;
        text-align: center;
      }
      &__description {
        color: $dark-grayish-blue-one;
        line-height: 1.7;
        text-align: center;
      }
    }
  }
}

.testimonial__button {
  margin: 50px 0;
  text-align: center;
}

@media all and (min-width: 768px) {
  @keyframes lefttoright {
    0% {
      transform: translateX(5%);
    }
    50% {
      transform: translateX(-35%);
    }
    100% {
      transform: translateX(5%);
    }
  }
}

/*---------------------------------------------------</Testimonials>---------------------------------------------------------*/
/*---------------------------------------------------<Simplify>--------------------------------------------------------------*/
.simplify {
  background: $bright-red;
  color: $vary-light-gray;
  padding: 75px 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__title {
    font-size: $font-size + 20;
    width: 450px;
    font-weight: $font-weight-last;
  }
  &__button {
    background: $vary-light-gray;
    text-decoration: none;
    color: $bright-red;
    font-size: $font-size + 1;
    font-weight: $font-weight-last;
    border: none;
    border-radius: 2.2em;
    padding: 15px 40px;
    &:hover,
    &:focus {
      background: $bright-red;
      color: $vary-light-gray;
    }
  }
}

/*---------------------------------------------------<Simplify>--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  /*------------------------------------------------<Responsive Navbar>-----------------------------------------------------*/
  .navbar {
    margin: 0;
    justify-content: space-between;
    &__logo {
      margin: 0px;
    }
    &__toggle {
      width: 50px;
      height: 50px;
      background: url(../img/icon-hamburger.svg);
      background-size: 30px;
      background-position: center;
      background-repeat: no-repeat;
      cursor: pointer;
      z-index: 1000;
      transition: 0.2s ease;
      &.active {
        background: url(../img/icon-close.svg);
        background-size: 25px;
        background-position: center;
        background-repeat: no-repeat;
      }
    }

    align-items: center;
    &__btn {
      display: none;
    }
    &__list {
      margin: 30% 0 0 0;
      padding: 0;
      background: #fff;
      top: 0;
      position: fixed;
      display: block;
      text-align: center;
      max-height: 500px;
      width: 85%;
      z-index: 1000;
      border-radius: 0.8em;
      border: 0.2px solid rgba(207, 205, 205, 0.8);

      &__item {
        margin: 25px;
        font-size: $font-size + 5;
      }
    }
  }
  .hide {
    display: none;
  }
  /*------------------------------------------------Responsive Navbar-----------------------------------------------------*/

  /*------------------------------------------------Responsive Info-------------------------------------------------------*/
  .info {
    margin-top: 0px;
    justify-content: center;
    align-items: center;
    text-align: center;
    &__img {
      order: 1;
    }
    &__text {
      margin: 0;
      order: 2;
      padding: 0px;
      &__title {
        padding: 5px 40px;
        line-height: 1.3 !important;
        font-size: $font-size + 18 !important;
        font-weight: $font-weight-last !important;
        text-align: center;
      }
      &__button {
        margin-top: 5px !important;
      }
    }
  }
  /*------------------------------------------------</Responsive Info>--------------------------------------------------------*/

  /*------------------------------------------------<Responsive About>-------------------------------------------------------*/
  .about {
    &__info {
      padding-left: 20px;
      margin-bottom: 5px;
      &__title {
        line-height: 1.3;
        font-size: $font-size + 15 !important;
        text-align: center;
      }
      &__description {
        line-height: 1.5;
        padding: 0 0 20px 0;
        text-align: center;
      }
    }
    .about__option {
      margin-bottom: 0px;
      &__title {
        margin-bottom: 15px;

        &__number {
          padding: 7px 20px;
          margin-right: 0px;
        }
        &__text {
          line-height: 1.3;
          font-size: $font-size + 1 !important;
          text-align: center;
          background-color: $very-pale-red;
        }
      }
      &__description {
        line-height: 1.5;
        padding: 0 10px;
      }
    }
  }
  /*------------------------------------------------</Responsive About>------------------------------------------------------*/

  /*------------------------------------------------<Responsive Testimonials>------------------------------------------------*/

  .testimonials {
    margin-top: 45px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    &__title {
      font-size: $font-size + 15 !important;
      margin: 0px;
    }
    &__block {
      grid-column: 1;
      grid-row: 2;
    }
    &__dots {
      display: flex;
      justify-content: center;
      list-style: none;
      padding: 0;
      margin: 25px 0 0 0;
    }
    &__dot {
      background: $vary-light-gray;
      padding: 5px;
      border: 1px solid $bright-red;
      border-radius: 50%;
      margin: 3px;
      cursor: pointer;
      &.active {
        background: $bright-red;
        border: none;
      }
    }
  }
  .testimonial {
    padding: 40px 20px;
    display: none;
    width: 100%;
    &__avatar-block {
      width: 65px;
      height: 65px;
    }
    &__avatar {
      width: 100%;
    }
    &__description {
      padding: 0 52px;
      margin: 0 20px;
      margin-bottom: 15px;
    }
    &__button {
      margin: 50px auto;
    }
  }
  .testimonial.shown {
    display: block;
  }

  /*------------------------------------------------</Responsive Testimonials>-----------------------------------------------*/
  /*------------------------------------------------<Responsive Simplify>----------------------------------------------------*/
  .simplify {
    padding: 75px 35px;
    flex-direction: column;
    &__title {
      width: 280px;
      text-align: center;
    }
    &__button {
      text-align: center;
      margin-top: 20px;
    }
  }

  /*------------------------------------------------<Responsive Simplify>-----------------------------------------------------------*/
}
